# Module 4 Project
## Author: [Valerie Johnson](https://github.com/Valpal84) Repository: [Datafun-04-notebooks](https://github.com/Valpal84/datafun-04-notebooks)

## Helpful Resources:
- [Jupyter Tips & Tricks](https://www.youtube.com/watch?v=2eCHD6f_phE) -YouTube video to assist with data science workflow.
- [15 Tips & Tricks That Will Ease Your Coding Experience](https://towardsdatascience.com/15-tips-and-tricks-for-jupyter-notebook-that-will-ease-your-coding-experience-e469207ac95c) - Tips and tricks to help improve your coding experience. 
- [Jupyter Notebook Extensions You Need to Boost Your Productivity](https://saturncloud.io/blog/jupyter-notebook-extensions-you-need-to-boost-your-productivity/#:~:text=In%20this%20blog%20post%2C%20we%20have%20discussed%20some%20of%20the,%2C%20Collapsible%20Headings%2C%20and%20Scratchpad.) - Blog to show helpful Jupyter extension to boost your productivity.

## Task 1-Series

In [1]:
#Creat a pandas series of grades, get first value and call built in series functions
import pandas as pd
grades = pd.Series([87, 46, 100, 99, 92, 88, 72, 64, 80, 79, 95, 59])
grades[0], grades.count(), grades.mean(), grades.min(), grades.max(), grades.std(), grades.describe()

(87,
 12,
 80.08333333333333,
 46,
 100,
 16.951579885251423,
 count     12.000000
 mean      80.083333
 std       16.951580
 min       46.000000
 25%       70.000000
 50%       83.500000
 75%       92.750000
 max      100.000000
 dtype: float64)

## Task 2-Series from Dictionary

In [2]:
#Grades with a dictionary via dictionary inititalizers
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})

grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [3]:
#Eva's score by calling
grades['Eva']

100

In [4]:
# Wally's score using the easier dot notation
grades.Wally

87

In [5]:
#Display an array of values
grades.values

array([ 87, 100,  94], dtype=int64)

In [6]:
#Perform the self check on pg 266 of text
import numpy as np
import pandas as pd

temps = np.random.randint(60, 101, 6)
temperatures = pd.Series(temps)
temperatures

0    86
1    67
2    81
3    76
4    76
5    64
dtype: int32

In [7]:
#Determine highest, lowest and average temps
temperatures.min()
temperatures.max()
temperatures.mean()

75.0

In [8]:
#Product descriptive stats for the series
temperatures.describe()

count     6.000000
mean     75.000000
std       8.294577
min      64.000000
25%      69.250000
50%      76.000000
75%      79.750000
max      86.000000
dtype: float64