# Optional Task 5 Bonus
## Author: Valerie Johnson
## Date: September 17, 2023

In [9]:
#Start by creating a list of contacts in "reformatting your data"  on page 310 of the text

import pandas as pd

contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
            ['Sue Brown', 'demo2@deitel.com', '5555551234']]

contactsdf = pd.DataFrame(contacts, 
                          columns=['Name', 'Email', 'Phone'])

contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [10]:
#Create a function that uses regular expressions to create a function to get a formatted version of the unformatted phone number
import re

def get_formatted_phone(value):
                        result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
                        return '-'.join(result.groups()) if result else value

formatted_phone = contactsdf['Phone'].map(get_formatted_phone)
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [11]:
# Confirm the format is correct then update the original dataframe

contactsdf['Phone'] = formatted_phone
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234